<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avengers.avengerstoken">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/avengers_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GridCard"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PasswordWrite"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".OfflineToken"
            android:label="@string/title_activity_offline_token"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avengers.avengerstoken.MainActivity"/>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.avengers.avengerstoken"/>
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".DeviceActivity"
            android:label="@string/title_activity_device">
        </activity>
        <activity
            android:name=".RegActivity"
            android:label="@string/title_activity_reg">
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:label="@string/title_activity_transaction">
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details">
        </activity>
        <activity
            android:name=".OnlineToken2"
            android:label="@string/title_activity_online_token2">
        </activity>
        <activity
            android:name=".SynchronizeActivity"
            android:label="@string/title_activity_synchronize">
        </activity>
        <activity android:name=".SetServiceIpActivity">
        </activity>
    </application>

</manifest>